In [3]:
#31jan

In [ ]:
""" str,complex,float,int are primitive data types i.e which are also present in other prog lang.
instead these we have other data types in python :"""

In [5]:
#list
l =[1,345,45,'sudh' ,True ,5+7j,345.456]

In [6]:
type(l)

list

In [7]:
s='pwskills'
l+s

TypeError: can only concatenate list (not "str") to list

In [8]:
#we cannnot concatenate str and list ...we can conactenate it by converting str into list 
l+list(s)

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [9]:
l[3]

'sudh'

In [10]:
l[3][0:2]

'su'

In [11]:
l[4][0:2]

TypeError: 'bool' object is not subscriptable

In [12]:
str(l[4])[0:2]

'Tr'

In [13]:
l =[1,345,45,'sudh' ,True ,5+7j,345.456]

In [14]:
l.append(5)

In [15]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5]

In [16]:
s='pwskills'
l.append(s)

In [17]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills']

In [18]:
#extend func. break all the elements of iterable and then add it 
l.extend(s)

In [19]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [20]:
l.extend(6)
#as 6 is int nd int is not iterable so extend func. doesnt able to store it in list

TypeError: 'int' object is not iterable

In [ ]:
'''therefore, append func try to add data in already existing data in last position whereas extend func first enrack the data then add it 
to the last position
to insert data at the first position of already exisisting data there is insert func.
example:

In [27]:
l.insert(0,'khushi')

In [28]:
l

['khushi',
 'sudh',
 1,
 'sudh',
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [29]:
l.pop()

's'

In [30]:
l.pop(3)

'sudh'

In [31]:
l

['khushi',
 'sudh',
 1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l']

In [36]:
l.insert(6,45)

In [37]:
l

['khushi',
 'sudh',
 1,
 345,
 45,
 'sudh',
 45,
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 'p',
 'w',
 's',
 'k',
 'i']

In [38]:
l.remove(45)
#remove func removers the first occurence of the value inside the brackets.whereas pop func removers the value acc,. to the index i.e removes index present inside the brackets

In [39]:
l

['khushi',
 'sudh',
 1,
 345,
 'sudh',
 45,
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 'p',
 'w',
 's',
 'k',
 'i']

In [42]:
l.append([4,5,6])

In [43]:
l

['khushi',
 'sudh',
 1,
 345,
 'sudh',
 45,
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 'p',
 'w',
 's',
 'k',
 'i',
 [4, 5, 6],
 [4, 5, 6]]

In [44]:
# to remove 5 from list within the list 
l[-1]

[4, 5, 6]

In [45]:
l[-1].remove(5)

In [46]:
l

['khushi',
 'sudh',
 1,
 345,
 'sudh',
 45,
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 'p',
 'w',
 's',
 'k',
 'i',
 [4, 5, 6],
 [4, 6]]

In [47]:
l.reverse()
#it reverse the list or data permanentaly

In [48]:
l

[[4, 6],
 [4, 5, 6],
 'i',
 'k',
 's',
 'w',
 'p',
 'pwskills',
 5,
 345.456,
 (5+7j),
 True,
 45,
 'sudh',
 345,
 1,
 'sudh',
 'khushi']

In [49]:
l2=[2,4,5,0,9,7,6,10,3]
l2.sort()

In [50]:
l2

[0, 2, 3, 4, 5, 6, 7, 9, 10]

In [54]:
# as l list consist of different data types in a list ..due to which comparisons betwwn the elements are not possible
#so no sorting is possinble in this case
l.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [57]:
# for sorting in desecending order

l2.sort(reverse=True)

In [58]:
l2

[10, 9, 7, 6, 5, 4, 3, 2, 0]

In [59]:
l3=[2,3,4]
l3[0]=20

In [60]:
l3

[20, 3, 4]

In [61]:
s='sudh'
s[0]='a'

TypeError: 'str' object does not support item assignment

In [ ]:
# as list is mutable and str is immutable thats y this is happening
#immutable means a character present at particular index that character cannot be replaced with annother one by accessimg its imdex

In [62]:
s.replace('s','a')

'audh'

In [ ]:
'''now it get replace which is contradictory to above statement
this is bcs the change using replace func is not by accessing index no. but just replacing it temporarely

In [63]:
s

'sudh'

In [64]:
'tuple

In [65]:
#tuple and list is different by brackets and mutability...tuples have round brackets and is immutable

In [67]:
t=(2,3,4,5,)
t[::-1]

(5, 4, 3, 2)

In [68]:
t

(2, 3, 4, 5)

In [69]:
# so operations are performed in tuples same like lists but the changings after applying an operation is temporaray

In [ ]:
'dict

In [72]:
s={}
type(s)

dict

In [74]:
s2={2,3,4,5.46,5+2j,(2,3)}
type(s2)

set

In [75]:
# so the emty set type is dict
#list cannot be store in set

In [80]:
s={9,2,2,2,2,3,3,4,4,5,5,6,7,7,7,7}
# set always gives unique elements

In [81]:
s

{2, 3, 4, 5, 6, 7, 9}

In [82]:
s2=list(s)

In [83]:
s2

[2, 3, 4, 5, 6, 7, 9]

In [ ]:
# indexing and slicing cannot be implemented on set
#in set hashing is done instead of indexing ...for uniqueness of element ..hashing generates key