In [3]:
def test():
    pass

In [4]:
# using pass ..compiler doesnot ask for any statements and doesnt shoe any error
#if we want to add logic later on then in that case we mke use of pass statment

In [7]:
def test1():
    print('i m khushi')
test1()

i m khushi

In [8]:
test1()+ 'sudh'

i m khushi

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
'''we are not able to concatenate in above code bcs print is nonetype data type ...and 'sudh' is a string ...two different data types are not able to 
concatenate...to overcome this we can make use of return...return always give data type of data with it

In [13]:
def test1():
    return'i m khushi'
test1() + 'bhatia'

'i m khushibhatia'

In [22]:
def test2(a,b,c): # here a,b,c are arguments...it is user input
    d=a+b/c
    return d
test2(2,3,4)

2.75

In [2]:
l=[1,2,3,'sudh','kumar',[0,1,2,3]]

In [5]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
l1

[1, 2, 3]

In [ ]:
#doing above program using function

In [2]:
l=[1,2,3,'sudh','kumar',[0,1,2,3]]

In [8]:
def test4():
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1
test4()

[1, 2, 3]

In [9]:
def test5():
    l1=[]
    for i in l:
        if type(i)==list:
            for j in i:
                l1.append(j)
        else:
            if type(i)==int or type(i)==float:
                l1.append(i)
    return l1
test5()

[1, 2, 3, 0, 1, 2, 3]

In [11]:
def test6():
    '''this is my func to extract num data from given data'''
    l1=[]
    for i in l:
        if type(i)==list:
            for j in i:
                l1.append(j)
        else:
            if type(i)==int or type(i)==float:
                l1.append(i)
    return l1
test6()

[1, 2, 3, 0, 1, 2, 3]

In [13]:
def test7(*args):
    return args

In [14]:
test7(1,2,3)

(1, 2, 3)

In [15]:
test7(1,2,3,'sudh')

(1, 2, 3, 'sudh')

In [16]:
type(test7())

tuple

In [ ]:
'''in this ,*args means we can add as many data as we want in called func. without estabilishing particuar named arguments ..
and just write *args..*(esterik)means n no. of args
then its type became tuple

In [18]:
def test8(*args,a):
    return args, a

In [19]:
test8(1,2,3,a=6)

((1, 2, 3), 6)

In [20]:
def test9(c,d,a=2,b=3):
    return a,b,c,d

In [21]:
test9(5,6)

(2, 3, 5, 6)

In [22]:
def test9(a=2,b=3,c,d):
    return a,b,c,d

SyntaxError: non-default argument follows default argument (2795859744.py, line 1)

In [26]:
def test9(c,d,a=2,b=3):
    return a,d,c,b

In [27]:
test9(5,6)

(2, 6, 5, 3)

In [28]:
test9(5,6,a=567) #overwriting of value of a (possible)

(567, 6, 5, 3)

In [ ]:
'''double esterick is use for extracting data in dict or key value formaat

In [29]:
def test10(**kwargs):
    return kwargs

In [30]:
test10(key1= 'khushi',key2=[1,2,3,4],key3= 23.4)

{'key1': 'khushi', 'key2': [1, 2, 3, 4], 'key3': 23.4}

In [31]:
type(test10())

dict